<div class="contact-container">

  <h2>Contact</h2>
  <hr class="fade-in fade-in-one">
  <p class="fade-in fade-in-one">I would love to hear from you!</p>

  <form>

    <div class="field fade-in fade-in-two">
      <label for="name">Name*</label>
      <input type="text" name="name" class="input">
    </div>

    <br>

    <div class="field fade-in fade-in-two">
      <label for="email">Email*</label>
      <input type="email" name="email" class="input">
    </div>

    <br>

    <div class="field fade-in fade-in-two">
      <label for="message">Message*</label>
      <textarea class="textarea" name="message"></textarea>
    </div>

    <br>

    <button type="submit" class="button fade-in fade-in-three">Submit</button>

  </form>

</div>
