@import "../../../_variables.scss";

.portfolio-container {
  color: $brown;
  text-align: center;

  opacity: 0;
  -webkit-animation: fadeIn ease-in-out 1, scrollIn ease-in-out 1;
  -moz-animation: fadeIn ease-in-out 1, scrollIn ease-in-out 1;
  animation: fadeIn ease-in-out 1, scrollIn ease-in-out 1;

  -webkit-animation-fill-mode: forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

// tablet / mobile
@media only screen and (max-width: 799px) {
  .portfolio-container {
    h2 {
      font-size: 30px;
    }
  }
}


// desktop
@media only screen and (min-width: 800px) {
  .portfolio-container {
    h2 {
      font-size: 75px;
    }
  }

}
