<div class="portfolio-container">

  <h2>Portfolio</h2>

  <div class="mobile-portfolio-links-container">
    <a routerLink="/portfolio/uxdesign" routerLinkActive="active">
      <div class="link-div fade-in fade-in-one">
        UX Design
      </div>
    </a>

    <br>

    <a routerLink="/portfolio/development" routerLinkActive="active">
      <div class="link-div fade-in fade-in-two">
        Development
      </div>
    </a>

    <br>

    <a routerLink="/portfolio/design" routerLinkActive="active">
      <div class="link-div fade-in fade-in fade-in-three">
        Design
      </div>
    </a>

    <br>

    <a routerLink="/portfolio/illustration" routerLinkActive="active">
      <div class="link-div fade-in fade-in-four">
        Illustration
      </div>
    </a>
  </div>

</div>
