@import "../../../_variables.scss";

.portfolio-container {
  color: $brown;
  text-align: center;

  opacity: 0;
  -webkit-animation: fadeIn ease-in-out 1, scrollIn ease-in-out 1;
  -moz-animation: fadeIn ease-in-out 1, scrollIn ease-in-out 1;
  animation: fadeIn ease-in-out 1, scrollIn ease-in-out 1;

  -webkit-animation-fill-mode: forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

// tablet / mobile
@media only screen and (max-width: 799px) {
  .portfolio-container {
    h2 {
      font-size: $title-font-size-mobile;
    }

    .mobile-portfolio-links-container {


        a {
          text-decoration: none;

          > .link-div {
            background-color: gray;
            height: 13vh;
            text-align: center;
            margin: auto;
            line-height: 13vh;
            color: $white;
            letter-spacing: 1.5px;
            font-size: 20px;
          }
        }


        .fade-in {
          opacity: 0;
        	-webkit-animation: fadeIn ease-in-out 1, scrollIn ease-in-out 1;
        	-moz-animation: fadeIn ease-in-out 1, scrollIn ease-in-out 1;
        	animation: fadeIn ease-in-out 1, scrollIn ease-in-out 1;

        	-webkit-animation-fill-mode: forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
        	-moz-animation-fill-mode: forwards;
        	animation-fill-mode: forwards;

        	-webkit-animation-duration: 0.5s;
        	-moz-animation-duration: 0.5s;
        	animation-duration: 0.5s;
        }

        .fade-in-one {
            -webkit-animation-delay: 0.5s;
            -moz-animation-delay: 0.5s;
            animation-delay: 0.5s;
          }

          .fade-in-two {
            -webkit-animation-delay: 0.7s;
            -moz-animation-delay: 0.7s;
            animation-delay: 0.7s;
          }

          .fade-in-three {
            -webkit-animation-delay: 0.9s;
            -moz-animation-delay: 0.9s;
            animation-delay: 0.9s;
          }

          .fade-in-four {
            -webkit-animation-delay: 1.1s;
            -moz-animation-delay: 1.1s;
            animation-delay: 1.1s;
          }
    }
  }
}


// desktop
@media only screen and (min-width: 800px) {
  .portfolio-container {
    h2 {
      font-size: $title-font-size-desktop;
    }
  }

}
