@import "../../../_variables.scss";

.about-container {

  h2 {
    color: $brown;
    text-align: center;
  }

}

// tablet / mobile
@media only screen and (max-width: 799px) {
  .about-container {
    h2 {
      font-size: 30px;
    }
  }
}


// desktop
@media only screen and (min-width: 800px) {
  .about-container {
    h2 {
      font-size: 75px;
    }
  }

}
