@import "../../_variables.scss";

.router-container {
  display: block;
  width: 100%;
  font-family: $title-font;

  .test-desktop {
    display: none;
  }

  .mobile-link-container {
    .link-div {
      background-color: gray;
      height: 13vh;
      text-align: center;

      > a {
        margin: auto;
        line-height: 13vh;
        color: $white;
        text-decoration: none;
        letter-spacing: 1.5px;
        font-size: 20px;
      }
    }
  }

  .desktop-link-container {
    width: 100%;
    justify-content: space-around;

      > a {
        text-decoration: none;
        color: $white;
        font-family: $content-font;
        font-size: 20px;
      }

  }
}



// tablet / mobile
@media only screen and (max-width: 799px) {

  .router-container {
    width: 100%;

    .desktop-link-container {
      display: none;
    }

    .mobile-link-container {
      display: block;
    }
  }
}

// desktop
@media only screen and (min-width: 800px) {

  .router-container {
    width: 60%;
    margin: auto;

    .mobile-link-container {
      display: none;
    }

    .desktop-link-container {
      display: inline-flex;
      margin-top: 60px;
      margin-left: 20px;
    }
  }
}
