<div class="router-container">

  <div class="mobile-link-container">
    <div class="link-div fade-in fade-in-one">
      <a routerLink="/about" routerLinkActive="active">About</a>
    </div>

    <br>

    <div class="link-div fade-in fade-in-two">
      <a routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
    </div>

    <br>
    <div class="link-div fade-in fade-in fade-in-three">
      <a routerLink="/blog" routerLinkActive="active">Blog</a>
    </div>

    <br>

    <div class="link-div fade-in fade-in-four">
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </div>
  </div>

  <div class="desktop-link-container">
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
      <a routerLink="/blog" routerLinkActive="active">Blog</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
  </div>

</div>
