<div class="router-container">

  <div class="mobile-link-container">
    <a routerLink="/about" routerLinkActive="active">
      <div class="link-div fade-in fade-in-one">
        About
      </div>
    </a>

    <br>

    <a routerLink="/portfolio" routerLinkActive="active">
      <div class="link-div fade-in fade-in-two">
        Portfolio
      </div>
    </a>

    <br>

    <a routerLink="/blog" routerLinkActive="active">
      <div class="link-div fade-in fade-in fade-in-three">
        Blog
      </div>
    </a>

    <br>

    <a routerLink="/contact" routerLinkActive="active">
      <div class="link-div fade-in fade-in-four">
        Contact
      </div>
    </a>
  </div>

  <div class="desktop-link-container">
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
      <a routerLink="/blog" routerLinkActive="active">Blog</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
  </div>

</div>
