<div class="development-container">
  <h2>
    <span>
      <a routerLink="/portfolio" routerLinkActive="active">
        <fa-icon [icon]="faChevronCircleLeft"></fa-icon>
      </a>
    </span>
    Development
  </h2>

  <hr>

  <div class="mobile-img-container">
    <div class="img-placeholder"></div>
    <div class="img-placeholder"></div>
    <div class="img-placeholder"></div>
    <div class="img-placeholder"></div>
    <div class="img-placeholder"></div>
  </div>

  <div class="desktop-img-container">
    <div class="img-placeholder"></div>
    <div class="img-placeholder"></div>
    <div class="img-placeholder"></div>
    <div class="img-placeholder"></div>
    <div class="img-placeholder"></div>
  </div>
</div>
