/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:wght@300&display=swap');

  $brown: #332C27;
  $white: #ffffff;
  $title-font: 'Abril Fatface', cursive;
  $content-font: 'Open Sans', sans-serif;
